kubernetes/main/apps/home/n8n/workflows/chicago-happenings.json
{
  "name": "Chicago Happenings",
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  },
  "nodes": [
    {
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "Friday 7am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 5"
            }
          ]
        }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "Get feeds",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, 0],
      "parameters": {
        "url": "http://miniflux.home.svc.cluster.local/v1/feeds",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000003",
      "name": "Find Sun-Times",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0],
      "parameters": {
        "jsCode": "const feeds = $input.all().map(i => i.json);\nconst feed = feeds.find(f => /sun[\\s-]?times/i.test(f.title || ''));\nif (!feed) throw new Error('Sun-Times feed not found in Miniflux');\nreturn [{ json: { feedId: feed.id } }];"
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000004",
      "name": "Get week entries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 0],
      "parameters": {
        "url": "=http://miniflux.home.svc.cluster.local/v1/feeds/{{ $json.feedId }}/entries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "published_after", "value": "={{ $now.minus({ days: 7 }).toUnixInteger() }}" },
            { "name": "limit", "value": "100" },
            { "name": "order", "value": "published_at" },
            { "name": "direction", "value": "asc" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000005",
      "name": "Build prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0],
      "parameters": {
        "jsCode": "const all = $input.first().json.entries || [];\nconst entries = all.filter(e => !/obituar|dies at|dead at|in memoriam/i.test(`${e.title} ${e.url}`));\nif (!entries.length) throw new Error('no Sun-Times entries in the last 7 days');\nconst text = entries.map(e =>\n  `## ${e.title} (${e.published_at.slice(0, 10)})\\n` +\n  (e.content || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 1500)\n).join('\\n\\n');\nconst sat = $now.plus({ days: 1 }).toFormat('MMM d');\nconst sun = $now.plus({ days: 2 }).toFormat('MMM d');\nconst payload = {\n  model: 'qwen3',\n  temperature: 0.3,\n  messages: [\n    { role: 'system', content: 'You summarize local news. Output terse markdown. /no_think' },\n    { role: 'user', content: `From this week's Chicago Sun-Times articles, write a \"Chicago Happenings\" digest focused on events and political happenings: 1) top local stories of the week, especially city/state politics, 2) a \"This Weekend (Sat ${sat} / Sun ${sun})\" section listing events, openings, games, and closures. Skip national wire stories and omit obituaries or death notices entirely.\\n\\n${text}` }\n  ]\n};\nreturn [{ json: { payload, count: entries.length } }];"
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000006",
      "name": "Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 0],
      "parameters": {
        "method": "POST",
        "url": "http://llama-cpp.ai.svc.cluster.local:8080/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 600000
        }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000007",
      "name": "Push to ntfy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 0],
      "parameters": {
        "method": "POST",
        "url": "http://ntfy.home.svc.cluster.local/chicago",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Title", "value": "Chicago Happenings" },
            { "name": "X-Markdown", "value": "yes" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{ $json.choices[0].message.content }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Friday 7am": {
      "main": [[{ "node": "Get feeds", "type": "main", "index": 0 }]]
    },
    "Get feeds": {
      "main": [[{ "node": "Find Sun-Times", "type": "main", "index": 0 }]]
    },
    "Find Sun-Times": {
      "main": [[{ "node": "Get week entries", "type": "main", "index": 0 }]]
    },
    "Get week entries": {
      "main": [[{ "node": "Build prompt", "type": "main", "index": 0 }]]
    },
    "Build prompt": {
      "main": [[{ "node": "Summarize", "type": "main", "index": 0 }]]
    },
    "Summarize": {
      "main": [[{ "node": "Push to ntfy", "type": "main", "index": 0 }]]
    }
  }
}
