kubernetes/main/apps/home/n8n/workflows/chicago.json
{
  "id": "Chicago",
  "name": "Chicago",
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  },
  "nodes": [
    {
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "Friday 7am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 5"
            }
          ]
        }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "Get feeds",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, 0],
      "credentials": {
        "httpHeaderAuth": { "id": "2xuyOUi7REA1aXA3", "name": "miniflux auth" }
      },
      "parameters": {
        "url": "http://miniflux.home.svc.cluster.local/v1/feeds",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000003",
      "name": "Find Sun-Times",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0],
      "parameters": {
        "jsCode": "const feeds = $input.all().map(i => i.json);\nconst feed = feeds.find(f => /sun[\\s-]?times/i.test(f.title || ''));\nif (!feed) throw new Error('Sun-Times feed not found in Miniflux');\nreturn [{ json: { feedId: feed.id } }];"
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000004",
      "name": "Get week entries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 0],
      "credentials": {
        "httpHeaderAuth": { "id": "2xuyOUi7REA1aXA3", "name": "miniflux auth" }
      },
      "parameters": {
        "url": "=http://miniflux.home.svc.cluster.local/v1/feeds/{{ $json.feedId }}/entries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "published_after", "value": "={{ $now.minus({ days: 7 }).toUnixInteger() }}" },
            { "name": "limit", "value": "100" },
            { "name": "order", "value": "published_at" },
            { "name": "direction", "value": "asc" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000005",
      "name": "Build prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0],
      "parameters": {
        "jsCode": "const all = $input.first().json.entries || [];\nconst skip = /obituar|dies at|dead at|in memoriam|death notice|horoscope|dear abby|crossword|puzzle|comics|murder|homicide|shooting|shot |stabb|fatal|killed|slain|body found|carjack/i;\nconst priority = /\\btrans\\b|transgender|gender-affirming|nonbinary|non-binary|lgbt|drag show|drag brunch/i;\nconst isPriority = e => priority.test(`${e.title} ${e.url}`);\nconst entries = all.filter(e => isPriority(e) || !skip.test(`${e.title} ${e.url}`));\nif (!entries.length) throw new Error('no Sun-Times entries in the last 7 days');\nconst WORDS = 40;\nconst text = entries.map(e => {\n  const snippet = (e.content || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().split(' ').slice(0, WORDS).join(' ');\n  return `${isPriority(e) ? '[P] ' : '- '}${e.title} (${e.published_at.slice(0, 10)}): ${snippet}`;\n}).join('\\n');\nconst sat = $now.plus({ days: 1 }).toFormat('MMM d');\nconst sun = $now.plus({ days: 2 }).toFormat('MMM d');\nconst payload = {\n  model: 'qwen3',\n  temperature: 0.3,\n  response_format: { type: 'json_schema', json_schema: { name: 'digest', schema: { type: 'object', properties: { week: { type: 'array', items: { type: 'string' } }, weekend: { type: 'array', items: { type: 'string' } } }, required: ['week', 'weekend'] } } },\n  messages: [\n    { role: 'system', content: 'You write ultra-concise dashboard digests as JSON. /no_think' },\n    { role: 'user', content: `From this week's Chicago Sun-Times articles, build a \"Chicago Happenings\" digest as JSON. \"week\": at most 6 bullets, top local stories, especially city/state politics. \"weekend\": at most 6 bullets, events, openings, games, and closures happening Sat ${sat} or Sun ${sun}. Each bullet is ONE plain sentence, 18 words max, rewritten in your own words -- never copy article text, no dates, no markers. Articles tagged [P] are priority: always include them first in their section (drop the tag). Skip national wire stories.\\n\\n${text}` }\n  ]\n};\nreturn [{ json: { payload, count: entries.length } }];"
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000006",
      "name": "Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 0],
      "credentials": {
        "httpBearerAuth": { "id": "Q4IVcXxmB4Ic3kCZ", "name": "llama cpp auth" }
      },
      "parameters": {
        "method": "POST",
        "url": "http://llama-cpp.ai.svc.cluster.local:8080/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 600000
        }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000007",
      "name": "Store digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 0],
      "parameters": {
        "jsCode": "const d = JSON.parse($input.first().json.choices[0].message.content);\nconst s = $getWorkflowStaticData('global');\ns.digest = { week: d.week, weekend: d.weekend, updated: $now.toISO() };\nreturn [{ json: s.digest }];"
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000010",
      "name": "Refresh webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, -200],
      "webhookId": "b2000000-0000-0000-0000-000000000002",
      "parameters": {
        "httpMethod": "GET",
        "path": "chicago-refresh",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000008",
      "name": "Digest webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 200],
      "webhookId": "b2000000-0000-0000-0000-000000000001",
      "parameters": {
        "httpMethod": "GET",
        "path": "chicago-digest",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000009",
      "name": "Serve digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 200],
      "parameters": {
        "jsCode": "const s = $getWorkflowStaticData('global');\nreturn [{ json: s.digest ?? { week: [], weekend: [], updated: null } }];"
      }
    }
  ],
  "connections": {
    "Friday 7am": {
      "main": [[{ "node": "Get feeds", "type": "main", "index": 0 }]]
    },
    "Refresh webhook": {
      "main": [[{ "node": "Get feeds", "type": "main", "index": 0 }]]
    },
    "Get feeds": {
      "main": [[{ "node": "Find Sun-Times", "type": "main", "index": 0 }]]
    },
    "Find Sun-Times": {
      "main": [[{ "node": "Get week entries", "type": "main", "index": 0 }]]
    },
    "Get week entries": {
      "main": [[{ "node": "Build prompt", "type": "main", "index": 0 }]]
    },
    "Build prompt": {
      "main": [[{ "node": "Summarize", "type": "main", "index": 0 }]]
    },
    "Summarize": {
      "main": [[{ "node": "Store digest", "type": "main", "index": 0 }]]
    },
    "Digest webhook": {
      "main": [[{ "node": "Serve digest", "type": "main", "index": 0 }]]
    }
  }
}
