kubernetes/main/apps/home/n8n/workflows/politics.json
{
  "id": "Politics",
  "name": "Politics",
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  },
  "nodes": [
    {
      "id": "f1000000-0000-0000-0000-000000000001",
      "name": "Mon+Fri 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1,5"
            }
          ]
        }
      }
    },
    {
      "id": "f1000000-0000-0000-0000-000000000010",
      "name": "Refresh webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, -200],
      "webhookId": "f2000000-0000-0000-0000-000000000002",
      "parameters": {
        "httpMethod": "GET",
        "path": "politics-refresh",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "f1000000-0000-0000-0000-000000000011",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, -100],
      "parameters": {
        "jsCode": "return [{ json: {\n  feedIds: [122, 156, 159],\n  skipPattern: '/opinion|op-ed|editorial|/commentary|/voices|personal essay',\n  dedupThreshold: 0.5,\n  snippetWords: 40,\n  sections: ['week', 'month'],\n  maxItems: { week: 6, month: 6 },\n  maxWordsPerBullet: 22,\n  systemPrompt: 'You write ultra-concise dashboard digests as JSON.',\n  userPromptTemplate: 'Build a \"Politics\" digest as JSON from LGBTQ+ news articles. Cover two kinds of stories, mixed together in each section: new or advancing legislation, court rulings, executive actions, and policy changes affecting LGBTQ+ people (prioritize dangerous or restrictive measures, say which state or body is acting), and genuinely positive stories -- protections passing, bans struck down, firsts, community support. \"week\": at most {{MAX_WEEK}} bullets from the past 7 days. \"month\": at most {{MAX_MONTH}} bullets from 8-30 days ago -- a separate, older set of articles listed below, so there is no overlap with \"week\" by construction. The limits are maximums, not targets: if there is little or no real news, return fewer bullets or an empty array -- never pad with weak items. Summarize aggressively: group articles covering the same story, bill, or theme into ONE bullet spanning all of them -- do not write one bullet per article. Each bullet is ONE plain sentence, {{MAX_WORDS}} words max, rewritten in your own words -- never copy article text, no dates, no markers. Exclude opinion pieces, editorials, personal essays, and advice columns entirely. Skip celebrity gossip.\\n\\nPast 7 days:\\n{{WEEK_ENTRIES}}\\n\\n8-30 days ago:\\n{{MONTH_ENTRIES}}'\n} }];"
      }
    },
    {
      "id": "f1000000-0000-0000-0000-000000000012",
      "name": "Feed IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, -100],
      "parameters": {
        "jsCode": "const cfg = $('Config').first().json;\nreturn cfg.feedIds.map(feedId => ({ json: { feedId } }));"
      }
    },
    {
      "id": "f1000000-0000-0000-0000-000000000004",
      "name": "Get entries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, -100],
      "credentials": {
        "httpHeaderAuth": { "id": "2xuyOUi7REA1aXA3", "name": "miniflux auth" }
      },
      "parameters": {
        "url": "=http://miniflux.home.svc.cluster.local/v1/feeds/{{ $json.feedId }}/entries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "published_after", "value": "={{ $now.minus({ days: 30 }).toUnixInteger() }}" },
            { "name": "limit", "value": "100" },
            { "name": "order", "value": "published_at" },
            { "name": "direction", "value": "asc" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "f1000000-0000-0000-0000-000000000005",
      "name": "Flatten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, -100],
      "parameters": {
        "jsCode": "return $input.all().flatMap(item => (item.json.entries || []).map(e => ({ json: e })));"
      }
    },
    {
      "id": "f1000000-0000-0000-0000-000000000006",
      "name": "Filter opinion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, -100],
      "parameters": {
        "jsCode": "const cfg = $('Config').first().json;\nconst skip = new RegExp(cfg.skipPattern, 'i');\nconst entries = $input.all().map(i => i.json);\nconst kept = entries.filter(e => !skip.test(`${e.title} ${e.url}`));\nif (!kept.length) throw new Error('no entries survived opinion filtering');\nreturn kept.map(e => ({ json: e }));"
      }
    },
    {
      "id": "f1000000-0000-0000-0000-000000000007",
      "name": "Dedup cluster",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, -100],
      "parameters": {
        "jsCode": "function tokens(t) {\n  return new Set((t || '').toLowerCase().replace(/[^a-z0-9 ]/g, '').split(' ').filter(w => w.length > 3));\n}\nfunction similarity(a, b) {\n  const ta = tokens(a), tb = tokens(b);\n  const inter = [...ta].filter(w => tb.has(w)).length;\n  return inter / Math.max(ta.size, tb.size, 1);\n}\nconst cfg = $('Config').first().json;\nconst cutoffMs = $now.minus({ days: 7 }).toMillis();\nconst entries = $input.all().map(i => i.json).sort((a, b) => new Date(b.published_at) - new Date(a.published_at));\nconst buckets = { week: [], month: [] };\nfor (const e of entries) {\n  const bucket = new Date(e.published_at).getTime() >= cutoffMs ? 'week' : 'month';\n  if (buckets[bucket].some(k => similarity(k.title, e.title) > cfg.dedupThreshold)) continue;\n  buckets[bucket].push(e);\n}\nconst out = [];\nfor (const bucket of ['week', 'month']) {\n  for (const e of buckets[bucket]) {\n    out.push({ json: {\n      bucket,\n      title: e.title,\n      published_at: e.published_at,\n      snippet: (e.content || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().split(' ').slice(0, cfg.snippetWords).join(' ')\n    } });\n  }\n}\nif (!out.length) throw new Error('no entries in the last 30 days');\nreturn out;"
      }
    },
    {
      "id": "f1000000-0000-0000-0000-000000000002",
      "name": "Build prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, -100],
      "parameters": {
        "jsCode": "const cfg = $('Config').first().json;\nconst items = $input.all().map(i => i.json);\nif (!items.length) throw new Error('no entries to summarize');\nconst fmt = list => list.map(e => `- ${e.title} (${e.published_at.slice(0, 10)}): ${e.snippet}`).join('\\n') || '(none)';\nconst weekEntries = fmt(items.filter(e => e.bucket === 'week'));\nconst monthEntries = fmt(items.filter(e => e.bucket === 'month'));\nlet userPrompt = cfg.userPromptTemplate\n  .replaceAll('{{MAX_WORDS}}', cfg.maxWordsPerBullet)\n  .replaceAll('{{WEEK_ENTRIES}}', weekEntries)\n  .replaceAll('{{MONTH_ENTRIES}}', monthEntries);\nfor (const name of cfg.sections) {\n  userPrompt = userPrompt.replaceAll(`{{MAX_${name.toUpperCase()}}}`, cfg.maxItems[name]);\n}\nconst properties = Object.fromEntries(cfg.sections.map(name => [name, { type: 'array', items: { type: 'string' } }]));\nconst payload = {\n  model: 'qwen3.5-9b',\n  temperature: 0.3,\n  max_tokens: 2048,\n  chat_template_kwargs: { enable_thinking: false },\n  response_format: { type: 'json_schema', json_schema: { name: 'digest', schema: { type: 'object', properties, required: cfg.sections } } },\n  messages: [\n    { role: 'system', content: cfg.systemPrompt },\n    { role: 'user', content: userPrompt }\n  ]\n};\nreturn [{ json: { payload } }];"
      }
    },
    {
      "id": "f1000000-0000-0000-0000-000000000003",
      "name": "Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, -100],
      "credentials": {
        "httpBearerAuth": { "id": "Q4IVcXxmB4Ic3kCZ", "name": "llama cpp auth" }
      },
      "parameters": {
        "method": "POST",
        "url": "http://llama-cpp.ai.svc.cluster.local:8080/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 600000
        }
      }
    },
    {
      "id": "f1000000-0000-0000-0000-000000000013",
      "name": "QA / clean digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, -100],
      "parameters": {
        "jsCode": "function tokens(t) {\n  return new Set((t || '').toLowerCase().replace(/[^a-z0-9 ]/g, '').split(' ').filter(w => w.length > 3));\n}\nfunction similarity(a, b) {\n  const ta = tokens(a), tb = tokens(b);\n  const inter = [...ta].filter(w => tb.has(w)).length;\n  return inter / Math.max(ta.size, tb.size, 1);\n}\nconst cfg = $('Config').first().json;\nconst raw = JSON.parse($input.first().json.choices[0].message.content);\nfunction clean(list, max) {\n  const kept = [];\n  for (const item of (list || [])) {\n    if (kept.some(k => similarity(k, item) > 0.6)) continue;\n    kept.push(item);\n    if (kept.length >= max) break;\n  }\n  return kept;\n}\nconst result = Object.fromEntries(cfg.sections.map(name => [name, clean(raw[name], cfg.maxItems[name])]));\nreturn [{ json: result }];"
      }
    },
    {
      "id": "f1000000-0000-0000-0000-000000000014",
      "name": "Store digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, -100],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst s = $getWorkflowStaticData('global');\ns.digest = { week: d.week, month: d.month, updated: $now.toISO() };\nreturn [{ json: s.digest }];"
      }
    },
    {
      "id": "f1000000-0000-0000-0000-000000000008",
      "name": "Digest webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 200],
      "webhookId": "f2000000-0000-0000-0000-000000000001",
      "parameters": {
        "httpMethod": "GET",
        "path": "politics-digest",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "f1000000-0000-0000-0000-000000000009",
      "name": "Serve digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 200],
      "parameters": {
        "jsCode": "const s = $getWorkflowStaticData('global');\nreturn [{ json: s.digest ?? { week: [], month: [], updated: null } }];"
      }
    }
  ],
  "connections": {
    "Mon+Fri 8am": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Refresh webhook": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "Feed IDs", "type": "main", "index": 0 }]]
    },
    "Feed IDs": {
      "main": [[{ "node": "Get entries", "type": "main", "index": 0 }]]
    },
    "Get entries": {
      "main": [[{ "node": "Flatten", "type": "main", "index": 0 }]]
    },
    "Flatten": {
      "main": [[{ "node": "Filter opinion", "type": "main", "index": 0 }]]
    },
    "Filter opinion": {
      "main": [[{ "node": "Dedup cluster", "type": "main", "index": 0 }]]
    },
    "Dedup cluster": {
      "main": [[{ "node": "Build prompt", "type": "main", "index": 0 }]]
    },
    "Build prompt": {
      "main": [[{ "node": "Summarize", "type": "main", "index": 0 }]]
    },
    "Summarize": {
      "main": [[{ "node": "QA / clean digest", "type": "main", "index": 0 }]]
    },
    "QA / clean digest": {
      "main": [[{ "node": "Store digest", "type": "main", "index": 0 }]]
    },
    "Digest webhook": {
      "main": [[{ "node": "Serve digest", "type": "main", "index": 0 }]]
    }
  }
}
